.CreditCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.CreditCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.CreditCard-items > li {
  list-style: none;
  line-height: 1.1;
  text-align: left !important;
}

.CreditCard-items {
  flex-grow: 1;
  margin-right: 20px;
}

.CreditCard-img-container {
  width: 200px;
  padding-right: 20px;
}

.CreditCard-img {
  height: 100%;
  padding-bottom: 0;
}
