.FaceBook {
  display: flex;
  flex-direction: row;
  border: solid;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: flex-start;
  align-items: center;
}

.Facebook li {
  text-align: left;
  font-size: 24px;
  list-style: none;
}
/* .FaceBook-img-container {
  width: 100px;
  height: 100px;
  display: flex;
   position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
} */

.FaceBook-img {
  /* display: inline; */
  /* margin: 0 -25%; */
  display: flex;
  width: 200px;
}

.img-rect {
  margin-left: -25%;
}
.FaceBook-items {
  text-align: left;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FaceBook-items > li {
  list-style: none;
  line-height: 1.1;
  text-align: left !important;
}

.DriverRating {
  color: tomato;
}

.profile{
  display: flex;
  flex-direction: row;
  border: solid;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: flex-start;
  align-items: center;
}

.profile__image{
  display: flex;
  width: 150px;
}

.profile__details{
  font-size: 20px;
  list-style: none;
  line-height: 1.1;
  text-align: left !important;
}

.highlighted {
  background-color: hsla(180, 100%, 78%, 0.664);
}